.king-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.king-name {
  font-size: 30px;
  color: brown;
  font-weight: bolder;
}

.nav-container {
  background-color: rgb(116, 116, 116);
  display: flex;
}

.nav-container > a {
  border: 1px solid rgb(192, 192, 192);
  color: white;
  padding: 1rem;
  margin: 4px;
}

.menu-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-container > a > img {
  width: 10rem;
  height: 10rem;
  transition: 0.2s;
  border-radius: 40rem;
}

.menu-container > a > img:hover {
  width: 12rem;
  height: 12rem;
  background-color: antiquewhite;

  transition: 0.5s;
}
