.container {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin: auto;
  margin-top: 10px;
}

.container > input {
  height: 50px;
  font-size: 30px;
  color: orange;
  border-radius: 4px;
  text-align: right;
  border: 1px rgb(207, 207, 207) solid;
}

.container > label {
  text-align: center;
}
